@import url('reset.css');

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url(/fonts/Montserrat-Black.ttf);
}



.container {
    max-width: 1920px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

/* ⁡⁢⁣⁢Header - Commenced⁡ */

.section-first {
    width: 382px;
    height: 60px;
}

.section-first img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-two {
    display: block;
}

.block-one {
    display: inline-flex;
    gap: 3px;
    align-items: center;
    justify-content: space-between;
}

.small-one a {
    text-decoration: none;
    color: #B3B3BA;
    font-size: 12px;
    font-family: 'Montserrat-Bold';
}

.small-one a:hover {
    background: #F0145A;
    border-radius: 8px;
    padding: 5px;
    color: white;
    font-family: 'Montserrat-Bold';
}

.small-two {
    display: block;
    color: #B3B3BA;
}

.small-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    padding-left: 0;
    list-style-type: none;
}

.small-menu li a {
    text-decoration: none;
}

.small-two img {
    margin-top: 1px;
    width: 24px;
    height: 24px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.block-two {
    display: flex;
    margin-top: -10px;
    justify-content: center;
}

.menu {
    display: inline-flex;
    list-style-type: none;
    gap: 10px;
    color: #24A3FF;
    font-family: 'Montserrat-Regular', serif;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    color: #24A3FF;
}

.menu a:hover {
    text-decoration: underline;
    color: #F0145A;
}


/* ⁡⁣⁢⁣Header - Completed⁡ */

/* ⁡⁢⁣⁢Main - Part 1 - Commenced⁡ */

.hlegal-main {
    display: block;
    margin: 0 auto;
}

.europe-star {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.star-image {
    width: 1360px;
    height: 500px;
}

.star-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_text {
    display: block;
    max-width: 1360px;
    gap: 15px;
}

.star_text {
    display: flex;
    margin-top: 30px;
    line-height: 36.57px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Montserrat-Bold';
    color: #323264;
    line-height: 37px;
    text-align: left;
}

.star_sub_text {
    display: flex;
    margin-top: 15px;
    font-family: 'Montserrat-Regular', serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    color: #B3B3BA;
    text-align: right;
}

.separator_one {
    width: 1360px;
    height: 4px;
    background-color: #E6E6F0;
    margin: 0 auto;
    margin-top: 30px;
}

/* ⁡⁣⁢⁣Main - Part 1 - Completed⁡ */

/* ⁡⁢⁣⁢Footer - Commmenced⁡  */

/* ⁡⁢⁣⁢Headline - Commenced⁡⁡⁡ */

.separator-footer {
    width: 1600px;
    height: 2px;
    background-color: #E6E6F0;
    margin: 0 auto;
    margin-top: 30px;
}

/* ⁡⁣⁢⁣⁡⁣⁢⁣Headline - Completed⁡⁡⁡ */

.container-separator {
    display: flex;
    justify-content: space-between;
    padding: 62px 60px 30px 60px;
}

/* ⁡⁢⁣⁢First Part - Commenced⁡ */

.first-part {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.sub-part-one {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sub-part-one div {
    color: #323264;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

/* ⁡⁢⁣⁢DOT - Commenced⁡ */

.dot {
    height: 8px;
    width: 8px;
    background-color: #B3B3BA;
    border-radius: 100%;
    margin: 16px 10px;
}

/* ⁡⁣⁢⁣DOT - Completed⁡ */

.map {
    color: #24A3FF;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    text-align: left;
    text-decoration: none;
}

.sub-part-two {
    display: flex;
    margin-top: 21px;
    gap: 5px;
    align-items: center;
}



.sub-part-two a {
    color: #46466E;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    text-decoration: none;
}

.sub-part-two .forstudy {
    color: #24A3FF;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    text-align: left;
}

.sub-part-two img {
    width: 38px;
    height: 38px;
}

/* ⁡⁣⁢⁣First Part - Completed ⁡*/


/* ⁡⁢⁣⁢Second Part - Commenced⁡ */
.second-part {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
    color: #B3B3BA;
}

/* ⁡⁣⁢⁣Second Part - Completed⁡ */

/* ⁡⁢⁣⁢Second-Section - Commenced⁡ */

.second-section {
    max-width: 1360px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.second_txt {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    font-family: 'Montserrat-Regular';
}

.sub_text {
    margin-top: 30px;
    font-family: 'Montserrat-Regular';
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
}

.gradient-text {
    background-image: linear-gradient(to right, #F0145A, #EF8080);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.container-two {
    display: block;
}

.container-two h2 {
    margin-top: 30px;
    color: #323264;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}

.container-two .num {
    max-width: 1320px;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.container-two .number {
    color: #F0145A;
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.container-two .num-text {
    color: #000000;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

p {
    color: #000000;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

/* ⁡⁣⁢⁣Second-Section - Completed⁡ */

/* ⁡⁢⁣⁢Third-Section - Commenced⁡ */

.container-three {
    display: flex;
    justify-content: center;
}

.container-links {
    margin-top: 34px;
}

/* ⁡⁣⁢⁣Third-Section - Completed⁡ */

/* ⁡⁢⁣⁢Fouth-Section - Commenced⁡ */

.container-four h3 {
    color: #323264;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}

/* ⁡⁣⁢⁣Fouth-Section - Completed⁡ */

/* ⁡⁢⁣⁢Cards - Commenced⁡ */

.cards-publication {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    text-align: left;
    margin-top: 60px;
}

.container-text {
    display: block;
}

.container-cards {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    width: 513.33px;
    display: block;
    margin: 0 auto;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.separator-card {
    width: 453.33px;
    height: 4px;
    background-color: #E6E6F0;
}

h2 {
    color: #24A3FF;
}

.card>h2+p {
    color: #B3B3BA;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1px;
    text-align: left;
}



/* ⁡⁣⁢⁣Cards - Completed⁡ */

/* ⁡⁣⁢⁣Footer - Completed⁡ */